{% extends "init.html" %}
{% load bootstrap5 %}
{% block principal %}

  <h1 class="text-body-emphasis">Cursos online</h1>

{% if success %}
    <div class="alert alert-success" role="alert">
        Curso Cadastrado com sucesso!
    </div>
{% else %}
  <form action="" method="POST" id="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    <button type="submit" class="btn btn-primary btn-block">Inserir Curso</button>
  </form>

<h1> Cursos Cadastrados</h1> <br>
{% for course in courses %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title
            ">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}